@font-face{
    font-family: 'Bebas';
    src: url(font/Bebas.woff);
    src: url(font/bebas.ttf);

}
@font-face{
    font-family: 'Road';
    src: url(font/Road.woff);
    src: url(font/Road.otf);
}
    



/* This New Codes FIXED! Font-Face Chrome Rendering */
@media screen and (-webkit-min-device-pixel-ratio:0) {

@font-face{
    font-family: 'Bebas';
    src: url(font/Bebas.woff);
    src: url(font/bebas.ttf);

}
@font-face{
    font-family: 'Road';
    src: url(font/Road.woff);
    src: url(font/Road.otf);
}

@font-face {
font-family: 'RobotoLight';
src: url('font/Roboto-Light-webfont.svg') format('svg');
}
@font-face{
    font-family: 'Road.woff';
    src: url('font/Road.woff') format('woff');
}

}

