@font-face {
    font-family: "BodoniBook";
    font-style: normal;
    font-weight: normal;
    src: local("?"), url("fonts/font-awesome/fonts/BodoniBook.woff") format("woff"), url("fonts/font-awesome/fonts/BodoniBook.ttf") format("truetype");
}